.container{
    width: 50%;
    border: solid 2px gray;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.flex{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}